.search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
}

.search-box-input {
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
}

.search-box-loading {
    position: absolute;
    height: 55px;
    top: .1rem;
    right: .1rem;
}